<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>519</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>518</string>
					<key>Timestamp</key>
					<string>716230217.538794</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SmartOBD2/BleComm/Utils.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        case .pid75: return "Turbocharger temperature"
</string>
				<key>leading</key>
				<string>        case .pid73: return "Exhaust pressure"
        case .pid74: return "Turbocharger RPM"
</string>
				<key>trailing</key>
				<string>        case .pid76: return "Turbocharger temperature"
        case .pid77: return "Charge air cooler temperature (CACT)"
        case .pid78: return "Exhaust Gas temperature (EGT) Bank 1"
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>519</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>518</string>
					<key>Timestamp</key>
					<string>716230217.5387321</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SmartOBD2/BleComm/Utils.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        case .pid75: return "Turbocharger temperature"
</string>
				<key>leading</key>
				<string>        case .pid73: return "Exhaust pressure"
        case .pid74: return "Turbocharger RPM"
</string>
				<key>trailing</key>
				<string>        case .pid76: return "Turbocharger temperature"
        case .pid77: return "Charge air cooler temperature (CACT)"
        case .pid78: return "Exhaust Gas temperature (EGT) Bank 1"
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
